<div class="help">
  <h1>Help: IRC</h1>

  <div class="section">
    <p>IRC is the best way to contact the creator. yande.re's IRC channel is located at irc.rizon.net/moe-imouto</p>
  </div>
</div>

<% content_for :subnavbar do %>
  <li><%= link_to "Help", :action => "index" %></li>
<% end %>
