<div class="help">
  <h1>Help: Bug Report</h1>

  <p>The best way to submit new bugs and feature requests is to create a ticket in <a href="https://github.com/moebooru/moebooru/issues">Issue tracker</a>. Simply click the <em>New Ticket</em> button on the site and enter a short title and description. For bug reports, try and enter some steps that reproduce the bug.</p>
</div>

<% content_for :subnavbar do %>
  <li><%= link_to "Help", :action => "index" %></li>
<% end %>
