<% content_for :subnavbar do %>
  <li><%= link_to t(:comment_list), :action => "index" %></li>
  <li><%= link_to t(:comment_search), :action => "search" %></li>
  <% if @current_user.is_janitor_or_higher? %>
    <li><%= link_to t(:comment_moderate), :action => "moderate" %></li>
  <% end %>
  <li><%= link_to t(:comment_help), :controller => "help", :action => "comments" %></li>
<% end %>
