<% content_for :subnavbar do %>
  <li><%= link_to t('.list'), :action => "index" %></li>
  <li><%= link_to t('.search'), :action => "search" %></li>
  <% if @current_user.is_janitor_or_higher? %>
    <li><%= link_to t('.moderate'), :action => "moderate" %></li>
  <% end %>
  <li><%= link_to t('.help'), help_path("comments") %></li>
<% end %>
