<% content_for("subnavbar") do %>
  <li><%= link_to "List", :action => "index" %></li>
  <li><%= link_to "Moderate", :action => "moderate" %></li>
  <li><%= link_to "Help", :controller => "help", :action => "comments" %></li>
<% end %>