<div id="comment-edit">
  <h4>Edit Comment</h4>

  <%= form_tag(:action => "update") do %>
    <%= hidden_field_tag "id", params[:id] %>
    <%= text_area("comment", "body", :rows => 10, :cols => 60) %><br>
    <%= submit_tag "Save changes" %>
  <% end %>
</div>
