<%= render :partial => "comment/comments", :locals => {:comments => [@comment], :post_id => @comment.post_id, :hide => false} %>

<div style="clear: both;">
  <p><%= link_to "Return to post", :controller => "post", :action => "show", :id => @comment.post_id %></p>
</div>
