## All variables specified here are required for proper deployment.
# Sets the Development DB Volume Path
DB_DEV_VOL_PATH=

# Sets the Test DB Volume Path
DB_TEST_VOL_PATH=

# Sets the Production DB Volume Path
DB_PROD_VOL_PATH=
