# Container startup command. You typically want this to either be init (if new database) or migrate. Here's some examples you can potentially use:
#
# Init and Migrate: (Non-existing database)
# COMMAND_PARAMS: "bundle exec rake db:reset && bundle exec rake db:migrate"
#
# Migrate: (Pre-existing database)
# COMMAND_PARAMS="bundle exec rake db:migrate"
#
COMMAND_PARAMS=""

# Set Architecture for building image. For ARM Mac, this will need to be x86_64 for proper emulation.
ARCHITECTURE=x86_64

# Set the target environment (i.e. development, test, production)
RAILS_ENV=""

# Set where the app should listen
APP_LISTEN_IP='0.0.0.0'

# Sets the port to expose on host
HOST_PORT=8080

# Sets database connection configuration. Typically, you should leave this alone if using config similar to database.yml.docker.example.
# MB_DATABASE_URL=

# Addresses of memcache servers
# MB_MEMCACHE_SERVERS=

# Sets the host this application will attempt to contact a Piwik installation at. Defaults to false to not use Piwik if unset.
# MB_PIWIK_HOST=

# Sets the Site ID this application will send analytics data for
# MB_PIWIK_ID=

# Sets number of threads this application is running. Currently used to determine number of connection pool for `memcached`. Defaults to 1 if unset.
# MB_THREADS=
