<p>Hello, <%= h(@user.pretty_name) %>. Your password has been reset to <code><%= @password %></code>.</p>

<p>You can login to <%= link_to(CONFIG["app_name"], :controller => "user", :action => "login", :only_path => false, :host => CONFIG["server_host"]) %> and change your password to something else.</p>
