<div>
  <h5>History</h5>
  <ul>
    <li><%= link_to "Tags", :controller => "history", :action => "index", :search => "post:#{@post.id}" %></li>
    <li><%= link_to "Notes", :controller => "note", :action => "history", :post_id => @post.id %></li>
  </ul>
</div>
