<div id="admin-edit-user">
  <% form_tag(:controller => "admin", :action => "edit_user") do %>
    <table class="form">
      <tr>
        <th width="15%"><label class="block" for="user_name">User</label></th>
        <td width="85%"><%= text_field_with_auto_complete "user", "name", {}, :min_chars => 3, :url => {:controller => "user", :action => "auto_complete_for_user_name"} %></td>
      </tr>
      <tr>
        <th>
          <label class="block" for="user_level">Level</label>
        </th>
        <td>
          <%= select "user", "level", CONFIG["user_levels"].to_a.select {|x| x[1] > CONFIG["user_levels"]["Blocked"]} %>
        </td>
      </tr>
      <tr>
        <td colspan="2"><%= submit_tag "Save" %></td>
      </tr>
    </table>
  <% end %>
</div>
