<div id="admin-index">
  <ul class="link-page">
    <li><a href="/admin/edit_user">&raquo; Edit User</a></li>
    <li><a href="/admin/reset_password">&raquo; Reset Password</a></li>
    <% if CONFIG["enable_caching"] %>
      <li><a href="/admin/cache_stats">&raquo; Cache Statistics</a></li>
    <% end %>
  </ul>
</div>
