<% provide :title, t('.title') %>
<div id="admin-index">
  <ul class="link-page">
    <li><%= link_to t('.edit_user'), :action => :edit_user %></li>
    <li><%= link_to t('.reset_password'), :action => :reset_password %></li>
  </ul>
</div>
