<div>
  <h4>Reset Password</h4>

  <% form_tag(:action => "reset_password") do %>
    <table class="form">
      <tfoot>
        <tr>
          <td colspan="2">
            <%= submit_tag "Reset" %>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <th width="15%"><label class="block" for="user_name">Name</label></th>
          <td width="85%"><%= text_field_with_auto_complete "user", "name", {}, :min_chars => 3, :url => {:controller => "user", :action => "auto_complete_for_user_name"} %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
