<div>
  <h4>Reset Password</h4>

  <%= form_tag(:action => "reset_password") do %>
    <table class="form">
      <tfoot>
        <tr>
          <td colspan="2">
            <%= submit_tag "Reset" %>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <th width="15%"><label class="block" for="user_name">Name</label></th>
          <td width="85%">
            <%= text_field "user", "name" %>
            <%= javascript_tag render(:partial => 'user/autocomplete_name', :formats => :js, :locals => { :field_id => 'user_name' }) %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
