<!DOCTYPE html>
<html>
<head>
  <title>Page not found</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag :application %>
</head>
<body>
  <div style="text-align: center;">
    <%= image_tag '404.jpg', :alt => 'Page not found', :style => 'margin: auto;' %>
    <h1>That page does not exist.</h1>
    <p><%= content_tag :a, 'Return to index', :href => ENV['RAILS_RELATIVE_URL_ROOT'] || '/' %></p>
  </div>
</body>
</html>
