<!doctype html>
<html>
  <head>
    <title>Not Found (404)</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="<%= stylesheet_path "application-error" %>">
  </head>
  <body>
    <img src="<%= image_path "404.jpg" %>" alt="Not Found">
    <h1>Requested page does not exist</h1>
    <p><a href="/">Return to index</a></p>
  </body>
</html>
