<!doctype html>
<html>
  <head>
    <title>Too Many Requests (429)</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="<%= stylesheet_path "application-error" %>">
  </head>
  <body>
    <h1>Too Many Requests</h1>

    <p>
      Abusive bot detected, calm down and try again in a hour.
    </p>

    <p>
      Connection limits: 5 on <code>/image/</code> and <code>/jpeg/</code>, 5 on <code>/sample/</code>, and 1 on <code>/zip/</code>.
      Configure download bot correctly or else stay banned.
    </p>

    <p> 不正なbotを発見しました。少し落ち着いて一時間後でもう一度試してください。</p>

    <p> 不正的bot發現.不要生氣,等一小時後再來試試看.</p>
  </body>
</html>
