<!DOCTYPE html>
<html>
<head>
  <title>shift-jis wakarimasen</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag :application %>
</head>
<body>
  <div style="text-align: center; margin-top: 5em;">
    <p style="width: 40em; margin: auto;">Danbooru only understand UTF8.</p>
  </div>
</body>
</html>
