<!DOCTYPE html>
<html>
<head>
  <title>failbooru</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag :application %>
</head>
<body>
  <div style="text-align: center; margin-top: 5em;">
    <p style="width: 40em; margin: auto;">The server Danbooru was trying to download from timed out. Try uploading again.</p>
  </div>
</body>
</html>
