<% form_tag(:action => "create") do %>
  <%= hidden_field_tag "forum_post[parent_id]", params["parent_id"], :id => "forum_post_parent_id" %>
  <table>
    <tr><td><label for="forum_post_title">Title</label></td><td><%= text_field "forum_post", "title", :size => 60 %></td></tr>
    <tr><td><label for="forum_post_body">Body</label></td><td><%= text_area "forum_post", "body", :rows => 10, :cols => 60 %></td></tr>
    <tr><td colspan="2"><%= submit_tag "Post" %></td></tr>
  </table>
<% end %>
