<% provide :title, t('.title') %>
<h2><%= t('.title') %></h2>

<div style="margin: 1em 0;">
  <div
    id="preview"
    class="response-list"
    style="display: none;"
  ></div>

  <div id="reply" style="clear: both;">
    <%= render 'post_form', action: 'create' %>
  </div>

</div>

<% content_for :subnavbar do %>
  <li><%= link_to t('.list'), action: 'index' %></li>
  <li><%= link_to t('.help'), help_path('forum') %></li>
<% end %>

<script type="text/javascript">
  $('forum_post_title').focus();
</script>
