<thead>
  <tr>
    <th></th>
    <th width="15%">Name</th>
    <th width="80%">Tags</th>
  </tr>
</thead>

<tfoot>
  <tr>
    <td></td>
    <td colspan="2">
      <%= submit_tag "Save" %>
      <%= button_to_remote "Add", :url => {:controller => "favorite_tag", :action => "create"} %>
    </td>
  </tr>
</tfoot>

<tbody id="favtag-body">
  <% favtags.each do |favtag| %>
    <%= render :partial => "listing_row", :locals => {:favtag => favtag} %>
  <% end %>  
</tbody>
