<% form_tag(:action => "update") do %>
  <h4>Edit Favorite Tags</h4>
  <div style="margin-bottom: 1em;">
    You can enter one tag query for each favorite tag. You can enter multiple tags for each favorite tag, but can only create up to <%= CONFIG["favorite_tag_limit"] %> favorite tags.
  </div>
  
  <table width="100%">
    <%= render :partial => "listing", :locals => {:favtags => @favtags} %>
  </table>
<% end %>
