<% content_for("subnavbar") do %>
  <%= @content_for_footer %>
  <li><%= link_to "Inbox", :action => "inbox" %></li>
  <li><%= link_to "Compose", :action => "compose" %></li>
  <li><%= link_to "Mark all read", :action => "mark_all_read" %></li>
<% end %>
