<%- if object.errors.any? -%>
  <div id="error_explanation">
    <%= t('errors.template.body') %>
    <ul>
      <%- object.errors.full_messages.each do |msg| -%>
        <li><%= msg -%></li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>
