<% content_for("subnavbar") do %>
  <li><%= link_to "List", :action => "index" %></li>
  <li><%= link_to "New", :action => "add" %></li>
  <%= @content_for_footer %>
  <li><%= link_to "Help", :controller => "help", :action => "wiki" %></li>
<% end %>
