<div class="sidebar">
  <div style="margin-bottom: 1em;">
    <h6>Search</h6>
    <% form_tag({:action => "index"}, :method => "get") do %>
      <input name="query" size="20" type="text" id="search-box">
    <% end %>
  </div>

  <%= render :partial => "recently_revised" %>
</div>
