<% content_for :subnavbar do %>
  <li><%= link_to t('.list'), :action => :index %></li>
  <li><%= link_to t('.add'), :action => :create %></li>
  <li><%= link_to t('.help'), :controller => '/help', :action => :artists %></li>
<% end %>
