<% content_for :subnavbar do %>
  <li><%= link_to t(:artist_footer_list), :action => "index" %></li>
  <li><%= link_to t(:artist_footer_add), :action => "create" %></li>
  <li><%= link_to t(:artist_footer_help), :controller => "help", :action => "artists" %></li>
<% end %>
