# Copy this to "database.yml" and adjust the fields accordingly.
# Only works with postgresql adapter.
login: &login
  adapter: postgresql
  username: <%= ENV["DB_USERNAME"] %>
  password: <%= ENV["DB_PASSWORD"] %>

development:
  database: moebooru-development
  host: moebooru-db-development
  port: 5432
  <<: *login

test:
  database: moebooru-test
  host: moebooru-db-test
  port: 5432
  <<: *login

production:
  database: moebooru-production
  host: moebooru-db-production
  port: 5432
  <<: *login
