<div>
  <% if posts.empty? %>
    <p>Nobody here but us chickens!</p>
  <% else %>
    <ul id="post-list-posts">
    <% posts.each do |post| -%>
      <%= print_preview(post, :similarity=>(@similar[:similarity][post] rescue nil), :blacklisting => true, :disable_jpeg_direct_links => (not @similar.nil?)) -%>
    <%- end -%>
    </ul>

    <%# Make sure this is done early, as lots of other scripts depend on this registration. %>
    <% content_for_prefix :post_cookie_javascripts do %>
    <script type="text/javascript">
      <% if @posts %>
        Post.register_tags(<%= Tag.batch_get_tag_types_for_posts(@posts).to_json %>);
      <% end %>
      <% posts.each do |post| %>
        <% if not post.is_a?(ExternalPost) then %>
          Post.register(<%= post.to_json %>)
        <% end %>
      <% end %>
    </script>
    <% end %>
  <% end %>

<% content_for("post_cookie_javascripts") do %>
<script type="text/javascript">
  var blacklist_options = {};
  <% if @search_id %>
    blacklist_options.exclude = <%= @search_id.to_json %>;
  <% end %>
  Post.init_blacklisted(blacklist_options)

  Post.init_post_list();
</script>
<% end %>
</div>
