<%= link_to image_tag(URI.join(root_url(:only_path => false), post.preview_url)), post_url %>
<% if params[:verbose] %>
  <p>Image data:</p>
  <ul>
    <li>Dimension: <%= "#{post.width}x#{post.height}" %>
    <% unless post.source.blank? %>
      <li>Source: <%= link_to post.source, post.source, :rel => 'nofollow' %>
    <% end %>
  </ul>
<% end %>
