<div id="hosting-referral" style="display: none;">
  <span id='cn' style="display: none;">
    我已经运营了这个站点4年以上的时间了，在此期间它是免费且几乎没有广告的。如果可以的话请帮助我共同分担运营这个站点的开销，我有一个支付宝账号，请点击<a href = "http://www.imouto.org/donate-cn/">这里</a>查看详情
    <br>
  </span>

  <span id='all' style="display: none;">
  Please help keep the site online!
  <br>
  <br>
  $5 for file <a href="http://bit.ly/i33VWA">hosting</a>. I've ran the site for free with minimal ads for 4+ years, please help offset server costs
  <br>
  </span>

  <script type="text/javascript">
    if(Cookie.get('country') == 'CN' || Cookie.get('country') == 'HK')
      {
       $('cn').show();
      }
    else
      {
       $('all').show();
      }
  </script>
  <div style="text-align: right">
    <a href="#" style="" class="close-button">Close</a>
  </div>
</div>

