<div id="hosting-referral" style="display: none;">
  Help keep the site online!
  <br>
  <br>
  $5 for file hosting at <a href="http://www.imouto.org/hosting/">moelicious.be</a> helps offset server costs
  <br>
  <div style="text-align: right">
    <a href="#" style="" class="close-button">Close</a>
  </div>
</div>

