<div id="hosting-referral" style="display: none;">
  Please help keep the site online!
  <br>
  <br>
  $5 for file hosting at <a href="http://bit.ly/i33VWA">moelicious.be</a>! This helps offset server costs and help keep the site online and fast!
  <br>
  <div style="text-align: right">
    <a href="#" style="" class="close-button">Close</a>
  </div>
</div>

