<div id="hosting-referral" style="display: none;">
  Please help keep the site online!
  <br>
  <br>
  $5 for file <a href="http://bit.ly/i33VWA">hosting</a>. I've ran the site for free with minimal ads for 4+ years, please help offset server costs
  <br>
  <div style="text-align: right">
    <a href="#" style="" class="close-button">Close</a>
  </div>
</div>

