<div style="margin-bottom: 1em;">
  <h5><%= t('.title') %></h5>
  <%= form_tag({:controller => "post", :action => "index"}, :method => "get") do %>
    <div>
      <%= text_field_tag("tags", params[:tags], :size => 20) %>
      <%= submit_tag t('.search'), :name => nil, :style => "display: none;" %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  new TagCompletionBox($("tags"));
  if(TagCompletion)
    TagCompletion.observe_tag_changes_on_submit($("tags").up("form"), $("tags"), null);
</script>
