<div id="debug-box" style="position: fixed; bottom: 0px; background-color: #000; display: none;"></div>
<div id="debug2" style="position: fixed; bottom: 100px; background-color: #000;"></div>

<!-- The z-index should be on top of all notes.  -->
<div id="post-browser">
  <ul class="post-browser-posts"></ul>
</div>

<div id="post-content"></div>

<script type="text/javascript">
  var debug = new DebugWindow($("debug-box"));
  var view = new BrowserView();
  var thumbnail_view = new ThumbnailView($("post-browser"), view);
</script>

