<div id="debug" style="position: fixed; bottom: 0px; background-color: #000;"></div>
<div id="debug2" style="position: fixed; bottom: 100px; background-color: #000;"></div>

<!-- The z-index should be on top of all notes.  -->
<div id="post-browser">
  <ul class="post-browser-posts"></ul>
</div>

<div id="post-content"></div>

<script type="text/javascript">
  <% @posts.each do |post| -%>
    Post.register(<%= post.to_json %>);
  <% end %>
  var view = new BrowserView();

  var post_ids = <%= @posts.map { |post| post.id }.to_json %>;
  var pool = <%= (@pool || nil).to_json %>;
  thumbnail_view = new ThumbnailView($("post-browser"), post_ids, pool, view);
</script>

