<div style="margin-bottom: 2em;">
  <h4>Recent Searches</h4>
  <ul>
    <% @recent_searches.each do |s| %>
      <li><%= link_to h(s), :action => "index", :tags => s %></li>
    <% end %>
  </ul>
</div>

<div>
  <h4>Popular Searches</h4>
  <table width="100%">
    <thead>
      <tr>
        <th width="5%">Count</th>
        <th width="95%">Tag</th>
      </tr>
    </thead>
    <tbody>
      <% @popular_searches.to_a.sort {|a, b| b[1] <=> a[1]}.each do |tag, count| %>
        <tr>
          <td><%= count %></td>
          <td><%= link_to h(tag), :action => "index", :tags => tag %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>