<div id="news-ticker">
  <ul>
    <li>We're testing new Moebooru. Please report errors <%= link_to 'here', 'https://bitbucket.org/edogawaconan/moebooru/issues?status=new&status=open' %>.</li>
  </ul>
  
  <a href="#" id="close-news-ticker-link"><%=t :news_ticker_close %></a>
</div>
