<% provide :title, t('.title') %>
<div class="memo">
    <h3><%=t :user_logout_text %></h3>
    <p><%=t :user_logout_text2 %></p>
    <%= link_to t(:user_logout_link), "/user/login" %>
</div>

<%= render :partial => "footer" %>
