<div class="page">
  <h4>Reset Password</h4>
  <p>If you supplied an email address when you signed up, you can have your password reset. You'll get an email containing your new password.</p>

  <% form_tag(:action => "reset_password") do %>
    <table class="form">
      <tbody>
        <tr>
          <th>
            <label class="block" for="user_name">Name</label>
          </th>
          <td>
            <%= text_field "user", "name" %>
          </td>
        </tr>
        <tr>
          <th><label class="block" for="user_email">Email</label></th>
          <td><%= text_field "user", "email" %></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <%= submit_tag "Submit" %>
          </td>
        </tr>
      </tfoot>
    </table>
  <% end %>
</div>

<%= render :partial => "footer" %>