## All variables specified here are required for proper deployment.
# Sets the Development DB Volume Path
DB_DEVELOPMENT_VOL_PATH=''

# Sets the Test DB Volume Path
DB_TEST_VOL_PATH=''

# Sets the Production DB Volume Path
DB_PRODUCTION_VOL_PATH=''

# Sets postgres username
DB_USERNAME=${DB_USERNAME:-postgres}

# Sets postgres password
DB_PASSWORD=${DB_PASSWORD:-imouto}
