<div id="comments" style="margin-top: 1em; max-width: 800px; width: 100%;">
  <%= render :partial => "comment/comments", :locals => {:comments => @post.comments, :post_id => @post.id, :hide => false} %>
</div>
