.image-crop-preview {
  z-index: 30;
  position: fixed;
  text-align: center;

  &__frame {
    background-color: #333;
    border: 5px solid #333;
    box-sizing: content-box; // to allow inline dimensions
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__preview {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__submit {
    display: block;
    margin: auto;
  }
}
