.wiki-edit {
  &, * {
    box-sizing: border-box;
  }

  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  max-width: 1200px;

  &__col {
    margin: 0 10px;
    flex: none;

    &--content {
      flex: 1;
      min-width: 250px;
    }

    &--reference {
      width: 250px;
    }

    &--sidebar {
      width: $sidebar-width;
      // overrides existing sidebar class
      // FIXME: update sidebar to use up full width or something
      .sidebar.sidebar {
        margin: 0;
        width: 100%;
      }
    }
  }

  &__reference-example {
    // FIXME: add class explicitly to element
    pre {
      white-space: pre-wrap;
    }
  }
}
