<div id="edit-tag-script" style="margin-bottom: 1em; display: none;">
  <h5>Tag script</h5>
  <form onsubmit="return false;" action="">
    <%= text_field_tag "tag-script", "", :size => "40", :id => "tag-script" %>
  </form>
</div>
<script type="text/javascript">
  TagScript.init($("tag-script"))
</script>

