<div id="post-view">
  <div class="sidebar">
    <div>
      <h5>Related Posts</h5>
      <ul>
        <li><%= link_to "Previous", :controller => "post", :action => "show", :id => params[:id].to_i - 1 %></li>
        <li><%= link_to "Next", :controller => "post", :action => "show", :id => params[:id].to_i + 1 %></li>
        <li><%= link_to "Random", :controller => "post", :action => "random" %></li>
      </ul>
    </div>
  </div>
  <div>
    <p>This post does not exist.</p>
  </div>  
</div>
