//= require jquery-ui
@import 'variables';
@import 'components/*';
@import "webtoolkit.clearfix";

@import "autocomplete";
@import "filter_spam";
@import "menu";
@import "pool";
@import "profiler";
@import "related_tags";

body {
  word-wrap: break-word;
}

body, div, h1, h2, h3, h4, h5, h6, p, ul, li, dd, dt {
  color: white;
  font-family: verdana, sans-serif;
  margin: 0;
  padding: 0;
}

form {
  margin-bottom: 0; /* opera defaults to 1em for some reason */
}

h1, h2, h3, h4 {
  font-family: Tahoma;
}

body {
  font-size: 80%;
  background: #222;
  padding: 1em 3em;
  margin: 0;
}

html.progress { cursor: progress !important; }
body.dragging { cursor: pointer !important; }
html.hourglass { cursor: wait !important; }
body.hide-cursor { cursor: image-url('blank.gif'), pointer !important; }
body.n-resize { cursor: n-resize !important; }
body.s-resize { cursor: s-resize !important; }
body.e-resize { cursor: e-resize !important; }
body.w-resize { cursor: w-resize !important; }
body.nw-resize { cursor: nw-resize !important; }
body.ne-resize { cursor: ne-resize !important; }
body.sw-resize { cursor: sw-resize !important; }
body.se-resize { cursor: se-resize !important; }
body.not-moderator .moderator-only { display: none !important; }
body.not-member .member-only { display: none !important; }

.action-post-show > body {
  background: #000;
}
.action-post-browse > body {
  background: #000;
  padding: 0;
}

a:link {
  color: #ee8887;
  text-decoration: none;
}

a.star { background: transparent image-url('blank.gif') no-repeat; }

.blacklisted-tags-disabled {
  color: #AAA !important;
}

a:visited {
  color: #ee8887;
  text-decoration: none;
}

a:hover {
  color: #ffaaae;
  text-decoration: none;
}

a:active {
  color: #006FFA;
  text-decoration: none;
}

a.last-page {
  color: #666;
}

span.spoiler {
  cursor: pointer;
}
span.spoiler > .spoilerwarning {
  color: #ff4020;
  background: #181818;
}

addr {
	display: block;
	margin-left: 2em;
	font-weight: bold;
}

blockquote {
  margin: 0 0 1em 0;
  padding: 1em;
  border: 1px solid #666;
  background: rgba(255, 255, 255, 0.15);
}

blockquote p, blockquote div {
  margin-bottom: 0em;
}

code {
  font-family: monospace;
  font-size: 1.2em;
}

dd {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
}

dt.bad {
  color: red;
}

h1 {
  font-size: 2em;
}

h1#static-index-header {
  font-size: 4em;
  margin: 1em 0 .5em 0;
  text-align: center;
}

h1#static-index-header a {
  text-align: center;
  display: block;
  font-size: 0px;
  text-indent: -3000em;
  margin: 0;
  padding:75px 300px 75px 300px;
  background: transparent image-url("logo.png") no-repeat scroll center center;
}

h2 {
  font-size: 1.8em;
}

h2.wiki-title {
  color: #003DD8;
  margin-bottom: 0.25em;
}

h2#site-title {
  display: block;
  text-align: left;
}

div#title {
  margin: 0 0 .5em -3em;
  height: 75px;
}
h2#site-title img#logo {
  float: left;
}

h2#site-title span {
  display: block;
  padding: 1em 0 0 0;
  text-align: left;
  margin: 0;
}

div#static-more div#title {
  float: none;
  margin-top: -1em;
}

#site-link {
  display: block;
  font-size: 0px;
  background: transparent image-url("logo_small.png") no-repeat scroll top left;
  margin: 0 0 .5em 0;
  padding: 37px 242px 38px 242px;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

img {
  border: none;
  vertical-align: middle;
}

input {
  padding: 0 0.3em;
}

/* Unlike just about every other browser, WebKit puts the filename of file input elements
 * on the page background, instead of on a white box.  We need to set it to a light color
 * to make it visible, and we need to do this only on WebKit--if we set other browsers to
 * white, it'll be unreadable on the white background. */
HTML.webkit input[type=file] {
  color: #FFF;
}

input[type=password]:focus {
  background: #FFC;
	color: #000;
}

input[type=text]:focus {
  background: #FFC;
	color: #000;
}

label {
  font-weight: bold;
  white-space: nowrap;
}

li {
  margin-left: 1em;
}

ol {
  margin-left: 1em;
}

p {
  margin-bottom: 1em;
}

span.author {
  color: gray;
}

span.date {
  color: #AAA;
}

span.date a {
  color: #AAA;
}

span.group {
  margin-right: 1em;
}

span.locked-topic {
  color: #666;
}

span.informational {
  cursor: help;
}

span.post-count {
  color: #AAA;
}

a.thumb {
  display: block;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

span.plid {
  display: none;
}

span.unread-topic {
  font-weight: bold;
}

span.stars .star {
	font-family: "Zapf Dingbats", "Apple Symbols", sans-serif;	/* on OS X 10.4, different fonts are used as fallbacks for the full and empty star characters, so let's make sure we use a font that has them at the same size */
}

span.vote-desc {
	color: #888;
	margin-left: 0.5em;
	position: absolute;
}

strong.divider {
  font-weight: bold;
  color: gray;
}

table {
  margin-bottom: 2em;
}

table.form {
  width: 70em;
}

table.form p {
  font-size: 0.8em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

table.form th {
  color: white;
  white-space: normal;
  padding-right: 1em;
  text-align: right;
  background: #333;
}

table.highlightable {
}

table.highlightable > tbody > tr:hover {
  background: #67100F;
}

table.highlightable th {
}

table.highlightable td {
}

table.highlightable th {
  margin: 0;
}

table td {
  padding: 1px 4px;
  vertical-align: top;
}

/*table td.large-text p {
  font-size: 1em;
}*/

table th {
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  padding: 0.2em 0.5em;
  white-space: nowrap;
}

table tr.bad {
  background: rgb(255, 230, 230);
}

table tr.even {
  color: white;
  background: #444 ;
}

table tr.good {
/*  background: rgb(230, 255, 230); */
}

tr.odd {
  color: white;
  background: #333;
}

table tr.selected {
  background: #044 !important; /* override highlightable */
}

table tr.highlight {
  background: #67100F;
}

table tr.pending-tag {
  background: #503030;
}

textarea {
  display: block;
  padding: 0 0.3em;
  font-family: sans-serif;
  font-size: 1.2em;
}

textarea.no-block {
  display: inline;
}

textarea:focus {
  background: #FFC;
  color: #000;
}

ul {
  margin: 0 0 1em 0em;
}

ul.bare-list li {
  list-style-type: none;
}

/* This is !important to override things like ul#subnavbar li. */
.hide-advanced-editing .advanced-editing { display: none !important; }

#main-menu .menu {
  display: inline;
  position: relative;
  padding: 0px 2px 1px 2px;
  margin-right: 0.6em;
}
#main-menu a:focus {
  /* XXX: isn't working in IE7 */
  outline: none;
}
#main-menu .selected-menu {
  background: #ffffff;
}
#main-menu .current-menu > A {
  color: #ffbbbb;
}
#main-menu .selected-menu > A {
  color: #000000;
}
#main-menu .bolded {
  font-weight: bold;
}
#main-menu .unread-topic {
  font-weight: bold;
}
.dropdown-menu .separator {
  width: 100%;
  background: #AAAAAA;
  height: 1px;
  margin: 1px 0px;
  /* For IE7: */
  overflow: hidden;
}
.dropdown-menu {
  position: absolute;
  background: #000000;
  padding: 2px 2px;

  /* Some items, like forum titles, may be very long.  Clamp the box size. */
  max-width: 20em;
  overflow: hidden;

  /* Dropdowns should render over most page elements, like the avatar crop overlay, but
   * not on top of the login overlay. */
  z-index: 100;
  border: 1px solid #555555;
}
.dropdown-menu .submenu {
  display: block;
  width: auto;
  padding: 0px 2px;
  font-size: 140%;
}
.dropdown-menu .focused-menu-item {
  background: #ffffff;
  color: #000000;
}

ul.flat-list {
  display: block;
  margin: 0;
  padding: 0;
}

ul.flat-list li {
  display: inline;
  list-style-type: none;
  font-weight: bold;
  padding: 0;
  margin: 0 1em 0 0;
}

ul.flat-list li a {
  font-weight: normal;
}

div.forum-update a {
  font-weight: bold;
}

div.comments-update a {
  font-weight: bold;
}

ul.flat-list li a.mod-pending {
  font-weight: bold;
}

ul.link-page {
  font-size: 1.2em;
  font-weight: bold;
}

ul.link-page a:before {
  content: '» ';
}

ul.link-page > li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tag-type-artist > a, #history .tag-type-artist, .color-tag-types .tag-type-artist {
  color: #cccc00;
}

.tag-type-artist > a:hover {
  color: #33CFFF;
}

.tag-type-faults > a, #history .tag-type-faults, .color-tag-types .tag-type-faults {
  color: #FF2020;
}

.tag-type-faults > a:hover {
  color: #33CFFF;
}

.tag-type-circle > a, #history .tag-type-circle, .color-tag-types .tag-type-circle {
  color: #0bb;
}

.tag-type-circle > a:hover {
  color: #33CFFF;
}

.tag-type-character > a, #history .tag-type-character, .color-tag-types .tag-type-character {
  color: #0A0;
}

.tag-type-character > a:hover {
  color: #33CFFF;
}

.tag-type-copyright > a, #history .tag-type-copyright, .color-tag-types .tag-type-copyright {
  color: #D0D;
}

.tag-type-copyright > a:hover {
  color: #33CFFF;
}

.upload-progress-bar
{
  display: inline-block;
  width: 100px;
  height: 1em;
  border: 1px solid #FFF;
}

.upload-progress-bar-fill
{
  height: 100%;
  background-color: #48F;
}

.tag-completion-box
{
  position: absolute;
  background-color: #002;
  top: 0;
  left: 0;
  z-index: 10; /* above the quick edit box */
}
.tag-completion-box ul
{
  list-style-type: none;
  margin: 0.5em;
}
.tag-completion-box .completed-tag
{
  margin: 0; /* work around annoying global style */
  cursor: default;
}
.tag-completion-box .completed-tag-alias
{
  float: right;
  margin-left: 1em;
}

.tag-completion-box .completed-tag.focused
{
  background-color: #005;
}
.tag-completion-box .completed-tag.recent-tag
{
  font-weight: bold;
}
.tag-completion-box .completed-tag
{
  position: relative;
}
.tag-completion-box .remove-recent-tag
{
  left: -1.5em;
  padding-right: 0.5em;
  padding-left: 0.25em;
  position: absolute;
  background-color: #002;
}

.added {
  color: #00CC00;
}

.removed {
  color: #ff0000;
}

.name-change, .name-change a {
  color: #ffff00;
}

#history .obsolete .name-change, #history .obsolete .name-change a {
  color: #bbb;
}

#history .id.deleted > a {
	color: #999;
}

#history .id.held > a {
	color: #0bb;
}
#history .new-user {
	font-weight: bold;
}

#history .obsolete, #history .obsolete span {
	color: #999;
}

.unchanged {
  font-size: 0.8em;
}

.history-search-row {
  float: left;
  position: absolute; /* don't move the footer around */
  margin-top: 1em;
  margin-left: 2em;
}

div.footer.history-footer {
  clear: none;
}

.history-search-label {
  width: 10%;
  float: left;
}

div#artist-index > table td {
  white-space: nowrap;
}

div.blocked {
  border: 2px solid #F00;
  background: #FCC;
  color: #F00;
  font-size: 1.2em;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

div#comment-list > div.post .preview {
  margin-bottom: 1em;
}

div#comment-list > div.post > div.col1 {
  width: 200px;
  float: left;
  clear: left;
}

div#comment-list > div.post > div.col2 {
  float: left;
  width: 50em;
  background-color: #333;
  padding: 1px 4px 3px 4px;
  margin-bottom: 1em;
}

div#comment-list > div.post > div.col2 > div.header {
  margin-bottom: 1em;
}

div#comment-list > div.post > div.col2 > div.header > div > span.info {
  margin-right: 1em;
}

div#comment-list > div.post > div.col2 > div.header > div.tags > span {
  margin: 0 0.5em 0 0;
}

div.content {
  float: left;
  margin: 0;
  width: 77%;
}

div.footer {
  margin-top: 1em;
  text-align: center;
  font-size: 120%;
  color: #CCC;
  clear: both;
}

div.footer.footer-aligned-to-content {
  clear: none;
}

div.footer > .footer-disabled {
  color: #777777;
}

div.footer > #label {
  color: #777777;
}

div#forum > table th:first-child {
  text-align: left;
}

div#forum > table td:first-child {
  text-align: left;
}

#has-mail-notice {
  font-weight: bold;
  color: #eeee00;
  display: none;
}

.has-deleted-posts {
  font-weight: bold;
}

div#header {
  margin-bottom: 1em;
  margin-top: -1em;
}

ul.pipe-list {
  display: inline;
}

ul.pipe-list li + li:before {
  content: "| ";
  color: #CCC;
}

ul.pipe-list li {
  display: inline;
  list-style-type: none;
  margin: 0;
  font-weight: normal;
}


ul#subnavbar li + li:before {
  content: "| ";
  color: #CCC;
}

ul#subnavbar {
  display: inline;
}

ul#subnavbar li {
  display: inline;
  list-style-type: none;
  margin: 0;
  font-weight: normal;
}

div#header #site-title {
}

div#header ul#subnavbar {
  padding: 5px 20px 5px 15px;
  background-color: #F7F7FF;
  margin: 0 0 1em 0;
}

div#header ul#subnavbar li {
  padding: 0 5px;
}

div#header ul#subnavbar li a {
}

div.help {
  width: 40em;
  margin-top: 2em;
}

div.help a.code {
  font-family: monospace;
}

div.help div.code {
  border: 1px dashed green;
  margin: 1em 0;
  padding: 1em 2em;
  background: #EEE;
  overflow: hidden;
  font-family: monospace;
  color: black;
}

div.help > div.section {
  margin-bottom: 4em;
}

div.help > div.section > div.section {
  margin-bottom: 2em;
}

div.help h1,
div.help h2,
div.help h3,
div.help h4 {
  margin: 0 0 0.5em 0;
}

div.help h4 {
  color: #060;
}

div#info {
  font-style: italic;
}

div.mail .received {
  color: #EE0;
}

div.mail .sent {
  color: #0EE;
}

div#mail-show div.message {
  margin-bottom: 4em;
}

div#notice {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  padding: 0px 3px 0px 3px;
  border: 1px solid #ddd;
  /* Use a margin to prevent the box from falling under scrollbars. */
  max-width: 800px;
  border-top: none;
  background-color: #333;
}

/* Using margin-left: auto; margin-right: auto; to center doesn't seem to work
 * on position: fixed;, so we have to do this with two blocks. */
#notice-container
{
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  text-align: center;
  pointer-events: none;
}

#notice-container > table
{
  margin: auto;
}

div#notice-container td {
  padding-top: 0px;
}

div#static_notice {
  font-size: 1.2em;
  color: red;
  font-weight: bold;
  margin-bottom: 1em;
  padding-left: 20px;
}

div#old-browser
{
  font-size: 1.2em;
  color: red;
  font-weight: bold;
  margin-bottom: 1em;
  border: 1px solid #EAEAEA;
  text-align: center;
  padding: 1em;
  margin: 1em;
  background: black;
}

div#old-browser > #old-browser-hide
{
  font-size: 0.8em;
}

div.page {
  width: 40em;
}

div#paginator {
  display: block;
  padding: 2em 0 1em 0;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  clear: both;
}

div#paginator a {
  margin: 0 3px;
  padding: 2px 6px;
  font-weight: normal;
  border: 1px solid #EAEAEA;
}

div#paginator a.arrow {
  border: none;
}

.text-button
{
	padding: 0px 2px;
	border: 1px solid #EAEAEA;
}

.text-button:hover
{
	background: rgb(60, 60, 220);
	color: white;
}

div#paginator a.arrow:hover {
  background: white;
  color: #33CFFF;
}

div#paginator .current {
  font-style: normal;
  margin: 0 3px;
  padding: 2px 6px;
}

div#paginator a:hover {
  background: rgb(60, 60, 220);
  color: white;
}

div#paginator span {
  margin: 0 3px;
  padding: 2px 6px;
}

div#post-add p#scale {
  color: #999;
  font-style: italic;
}

div#post-popular > h3 {
  text-align: center;
  margin-bottom: 1em;
}

div#post-view > div#right-col > div > div#note-container {
  position: absolute;
}

div#post-view > div#right-col > div > div#note-container > div.note-body {
  background: #FFE;
  border: 1px solid black;
  display: none;
  max-width: 300px;
  min-width: 140px;
  min-height: 10px;
  position: absolute;
  padding: 5px;
  cursor: pointer;
  overflow: auto;
  color: #222;
}

div#post-view > div#right-col > div > div#note-container > div.note-body > p.tn {
  font-size: 0.8em;
  color: gray;
}

div#post-view > div#right-col > div > div#note-container > div.note-box {
  position: absolute;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  cursor: move;
  background: #FFE;
}

div#post-view > div#right-col > div > div#note-container > div.note-box > div.note-corner {
  background: black;
  width: 7px;
  height: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

div#post-view > div#right-col > div > div#note-container > div.unsaved {
  background: #FFF;
  border: 1px solid red;
}

div#post-view > div#right-col > div > div#note-container > div.unsaved > div.note-corner {
  background: red;
}

div#post-view > div#right-col > div > img {
  margin-right: 5em;
}

div#post-view > div#right-col > div#edit {
  margin-bottom: 2em;
  padding: 1em;
}

div.quote > a {
  color: #581a21;
}

div#related {
  margin: 0 3em 1em 0;
}

div#related > div.tag-column {
  float: left;
  margin: 0 2em 2em 0;
  max-width: 12em;
  height: 35em;
}

div#related > div.tag-column > a {
  margin-right: 1em;
}

div.response-list > div.comment {
  float: left;
  margin-bottom: 1.5em;
}
div.response-list#forum {
  width: 50em;
}

div.response-list > div.comment > div.author {
  float: left;
  width: 12em;
  padding-right: 1em;
  overflow: hidden;
}

div.response-list > div.comment > div.author > h6 {
  font-size: 1.3em;
}

div.response-list > div.comment > div.content {
  float: left;
  width: 36em;
  padding: 0 0 0 10px;
  margin: 0;
}

.translated-notice {
  color: #AAA;
  font-style: italic;
}

div.response-list > div.comment > div.content > div.post-footer {
  margin-top: 1em;
  color: #CCC;
}

div.response-list > div.comment > div.content > div.post-footer a {
  color: #666;
}

div.sidebar {
  width: 20%;
  margin-right: 1em;
  float: left;
  overflow: visible;
}

div.sidebar li {
  list-style-type: none;
  margin: 0;
}

a.original-file-changed#highres-show {
  color: #CC0;
}

div#static-index {
  text-align: center;
}

div#static-index > div#links > a {
  margin: 0 0.5em;
}

div#static-more > div {
  float: left;
  width: 25%;
}

div#static-more > div > ul {
  margin-top: 2em;
}

div#static-more > div > ul > li {
  list-style-type: none;
  margin: 0;
}

div.status-notice {
  border: 2px solid #666;
  padding: 1em;
  margin: 1em;
  background: black;
}

div.status-notice p {
  margin: 0;
}

div#tag-list {
  text-align: center;
  margin-bottom: 2em;
}

div#tag-list > a {
  padding-right: 5px;
}

div#upgrade-account {
	margin: 1em;
	padding: 1em;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

div#upgrade-account a {
	color: black;
}

div#upgrade-account a#hide-upgrade-account-link {
	font-size: 0.8em;
	color: #CCC;
	display: block;
}

div#user-record > table > tbody > tr.positive-record {
  color: black;
  background: #EFE;
}

div#user-record > table > tbody > tr.negative-record {
  color: black;
  background: #FEE;
}

div.wiki > h2.title {
  color: #99F;
  font-size: 1.6em;
}

div#wiki-show > div#body {
/*  line-height: 2em; */
  width: 50em;
  text-align: left;
  float: left;
  padding-bottom: 1em;
}

div#wiki-show > div#body ul {
  line-height: 1.2em;
  margin: 0 0 0 1em;
}

div#wiki-show > div#body > ul {
  margin-bottom: 1em;
}

div#wiki-show > div#body > div#byline {
  color: #666;
  font-style: italic;
}

div#wiki-diff > div#body {
  font-family: monospace;
  font-size: 1.2em;
  margin-top: 1em;
}

div#wiki-diff del {
  background-color: #f88;
  text-decoration: line-through;
}

table#history {
  margin-bottom: 0;
}

#history .text-block {
  color: #AAA;
  padding-left: .35em;
  margin-left: .05em;
  border-left: 1px dashed #fff;
}

#history .initial-diff {
  color: #FFF;
}

#history .diff ins {
  color: #FFF;
  text-decoration: none;
}

#history .diff ins:before {
  content: "+";
  color: #CCC;
}

#history .diff del {
  text-decoration: none;
  color: #F33;
}

#history .diff del:before {
  content: "-";
  color: #CCC;
}

ul.history-header {
  margin-top: 0.5em;
}

.history-header li {
  list-style-type: none;
}

div#wiki-diff ins {
  background-color: #8f8;
}

ul#post-list-posts {
  display: inline;
  list-style-type: none;
}
ul#post-list-posts .deleted {
  opacity: 0.5;
}

ul#post-list-posts .inner {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

ul#post-list-posts li {
  list-style-type: none;
  float: left;
  margin: 0 0 10px 0;
  display: inline-block;
  vertical-align: bottom;

  /* inline-block hack for IE: */
  zoom: 1;
  *display: inline;
}

img.preview {
        vertical-align: top;
}

a.directlink {
        background: #555;
        display: block;
        height: 15px;
        padding: 1px 0 1px 0;
        /* Spacing between the thumbnail and the ddl bar: */
        margin-top: 15px;
        text-align: center;
        font-size: 10px;
        white-space: nowrap;
}

a.largeimg {
        background: #111;
}

.highlighted-post > a.directlink {
	background: #400;
}

a.directlink:hover {
        background-image: none;
}

a.largeimg:hover {
        background-image: none;
}

a.directlink > span.directlink-res {
        display: none;
        margin: 0;
        padding: 0;
        color: #ee8887;
        vertical-align: top;
}

a.directlink:hover > span.directlink-res {
        display: inline;
}
a.directlink:hover > .directlink-icon {
	display: none;
}
a.directlink:hover > .directlink-info {
	display: none;
}

.parent-display { display: none; height: 16px; width: 14px; }
.has-children .parent-display { display: inline; }
.child-display { display: none; height: 16px; width: 14px; }
.has-parent .child-display { display: inline; }
.flagged-display { display: none; height: 16px; width: 14px; }
.flagged .flagged-display { display: inline; }
.pending-display { display: none; height: 16px; width: 14px; }
.pending .pending-display { display: inline; }

.has-children .directlink-icon { display: none; }
.has-parent .directlink-icon { display: none; }
.flagged .directlink-icon { display: none; }
.pending .directlink-icon { display: none; }
.largeimg .directlink-icon-small { display: none; }
.smallimg .directlink-icon-large { display: none; }

.similar .directlink-icon { display: none; }

.top-corner-float {
	position: fixed;
	background: #222;
	border: solid #000 2px;
	padding: 6px;
	top: 2px;
	right: 2px;

        /* Draw this over the index shift-key overlays. */
        z-index: 5;
}

.post-hover {
	border: 2px solid #000;
	min-width: 20em;
	max-width: 30em;
	padding: 2px;
	background: #222;
	position: absolute;
	z-index: 2; /* over the regular post images */
}

.post-hover-overlay {
	position: absolute;
	z-index: 2; /* over the regular post images */
}
.post-hover-overlay > a > img {
        vertical-align: top;
        border-width: 0 2px 2px 2px;
        border-style: solid;
        border-color: #000;
        margin-left: -2px;
}

.clickable { cursor: pointer; }
.no-focus-outline:focus { outline: none; }

.post-hover #hover-top-line {
	background: #333;	
	white-space: nowrap;
	width: 100%;
}

#hover-is-parent { color: #00FF00; }
#hover-is-child { color: #FFFF00; }
#hover-is-pending { color: #00FFFF; }
#hover-is-flagged .flagged-text { color: #FF0000; }

a.tag-script-applied {
	background-color: #880 !important;
}

body.dragging-to-post, body.dragging-to-post * {
  cursor: no-drop;
}

body.dragging-to-post .thumb * {
  cursor: pointer;
}

.similar-original {
  background-color: #000;
}
.similar-match span.similar-text {
	font-weight: bold;
}

img.service-icon {
	height: 15px;
}

img.service-icon#list {
	margin: 1px 0px 0px 0px;
}

img.service-icon#source {
	vertical-align: top;
	margin: -1px 5px 0px 0px;
}

.service-active {
	font-weight: bold;
}


.score:focus {
	outline: none;
}
.score > span {
	display: none;
}
.score > .score-visible {
	display: inline;
}

span.stars .star-1 { color:#0a0; }
span.stars .star-2 { color:#0f0; }
span.stars .star-3 { color:#ff0; }

.star:focus {
	outline: none;
}

.standard-vote-widget .star-set-upto:after { content: "★"; }
.standard-vote-widget .star-set-after:after { content: "☆"; }
.standard-vote-widget .star-hovered-upto:after { content: "★"; }
.standard-vote-widget .star-hovered-after:after { content: "☆"; }

.standard-vote-widget .star-0:after { content: "↶ "; }
.standard-vote-widget .star.vote-up:after { content: "vote up"; }

.standard-vote-widget .vote-up-block:before { content: " ("; }
.standard-vote-widget .vote-up-block:after { content: ")"; }

/* Hide "vote up" in post/browse. */
.post-info .standard-vote-widget .vote-up-block { display: none; }

/* This is the invisible block to catches touches for expanding vote-popup-container. */
.vote-popup-expand {
  position: absolute;
  bottom: 0px;
  left: 0px;
  /*background-color: #0FF;*/
  width: 100px;
  height: 100px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.vote-popup-container {
  position: absolute;
  bottom: 0;
  left: 100px;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.vote-popup-container .star {
  display: inline-block;
  font-size: 5em;

  /* Extend the box outward a bit.  Do this on the top and bottom to keep the
   * text centered. */
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -50px;
  margin-bottom: -50px;
}

.vote-popup-container .vote-desc { display: none; }
.vote-popup-container .star:after { content: "★"; }
.vote-popup-container .star-0:after { content: "↶"; }

/* Zoom in the current vote, if any.  Use a transform for this so it doesn't
 * affect layout. */
.vote-popup-container .star-set {
  -webkit-transform: scale(1.35);
}
.vote-popup-container .vote-up-block { display: none; }
.vote-popup-container .vote-up-block-anonymous { display: none; }

.vote-popup-container .star {
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
}
.vote-popup-container.vote-popup-hidden .star {
  -webkit-transform: scale(0.000001); /* WebKit hates scale(0) */
}

.vote-popup-flash {
  position: absolute;
  font-size: 10em;
}

.vote-popup-flash.star-0 .flash-item:after { content: "↶"; }
.vote-popup-flash        .flash-item:after { content: "★"; }
.vote-popup-flash.star-1 .flash-item { color: #0a0; }
.vote-popup-flash.star-2 .flash-item { color: #0f0; }
.vote-popup-flash.star-3 .flash-item { color: #ff0; }

.vote-popup-flash.flash-star .flash-item {
  -webkit-transition: all 0.75s cubic-bezier(0.0, 0.3, 0.5, 1);
  -webkit-transform: translateY(0px) scale(2.0);
  opacity: 0;
}

.del-mode {
  color: #ee8887;
}
.del-mode > label {
  font-weight: normal;
}

.post-browser {
  width: 100%;
  background-color: #222;
  position: absolute;
  bottom: 0px;
  left: 0px;
  overflow: visible;
  z-index: 11;
}

#post-content .image-box {
  position: absolute;

  /* Prevent the image from being selected when double-clicking the container to
   * toggle fullscreen. */
  -webkit-user-select: none;
  -moz-user-select: none;
}

.browser-bottom-bar {
  text-align: center;
}

.post-browser-tags-form {
  margin-bottom: 5px;
  padding: 0px 0 0 0;
}

.post-browser-posts-container {
  overflow: hidden;
  position: relative; /* for positioning post-browser-no-results */

  /* Prevent thumbs from being selected when double-clicking the thumb container. */
  -webkit-user-select: none;
  -moz-user-select: none;
}

.disable-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
}

.post-browser-scroller {
  height: 100%;
  position: relative;
}

.post-browser-posts {
  list-style-type: none;
  white-space: nowrap;
  height: 100%;
  margin: 0;
}

.post-browser-posts .inner {
  overflow: hidden;
}

.post-browser-posts li {
  list-style-type: none;
  position: relative;

  margin: 5px;
  display: inline-block;
  vertical-align: bottom;

  /* inline-block hack for IE: */
  zoom: 1;
  *display: inline;
}

/* The borders cause odd overflows if the width: 100% inputs are shortened by
 * the containing box, so disable them.  Disable all of them, not just the ones
 * that this actually happens to, for consistency. */
input.edit-item { border: none; }
textarea.edit-item { border: none; }

.edit-item {
  padding: 0;
  margin: 0;
}
.edit-tags {
  padding: 1px;
}
.browser-thumb-hover-overlay {
  position: absolute;
  z-index: 2; /* over the regular post images */
  overflow: hidden; /* needed to crop the right edge when overflowing the viewport */

  /* Don't outline when clicked.  It's unnecessary, and it also causes a problem: when the
   * hover thumb is cropped to fit the screen (see ThumbnailView.prototype.expand_post), the
   * outline will expand the image by a pixel, causing the scrollbar to appear. */
  outline: none;
}
.browser-thumb-hover-overlay > img {
  vertical-align: top;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: #000;
}

.post-info {
  position: absolute;
  top: 0px;
  width: 40%;
  min-width: 250px;
  max-width: 500px;
  height: auto;
  background-color: #005;
}

.post-info ul {
  list-style-type: none;
}

.post-info .post-frames.no-frames {
  display: none;
}

.post-info .post-frame-list {
  display: inline-block;
}

.post-info .post-frame-link {
  display: inline-block;
  border: 1px solid #fff;
  margin: 0 2px;
  padding: 0 2px;
}

.post-info .post-frame-link.current-post-frame {
  background: rgb(60, 60, 220);
  color: #FFF;
}

.frame-editor .frame-label {
  cursor: pointer;
}
.frame-editor TD {
  padding: 0;
  vertical-align: middle;
}
.frame-editor TR {
}
.frame-editor .frame-button-box {
  margin: 0 0.25em;
  font-weight: bold;
  padding: 0 2px;
  border: 1px solid #FFF;
  background-color: #005;
}
.frame-editor .frame-down
{
  margin-right: 1.0em;
}
.frame-editor .frame-label {
  margin: 0 0.5em;
}
.frame-editor TR.frame-focused .frame-label {
  color: #000;
}
.frame-editor TR.frame-focused {
  background: #aaa;
}

.frame-editor .frame-dims {
  padding: 0;
  margin: 0.25em 0;
}
.frame-editor-frame-box {
  position: absolute;
  border: 1px solid #777;
  margin-top: -1px; /* adjust for border */
  margin-left: -1px; /* adjust for border */
  background-color: rgba(0,0,0,0.1);
}

.frame-editor-popup-div .frame-editor-frame-box {
  position: absolute;
  top: 0;
  left: 0;
}

/* Mark these not-dragging, so when we're dragging the body dragging cursor takes precedence. */
body.not-dragging .frame-box-handle.n-resize { cursor: n-resize; }
body.not-dragging .frame-box-handle.s-resize { cursor: s-resize; }
body.not-dragging .frame-box-handle.e-resize { cursor: e-resize; }
body.not-dragging .frame-box-handle.w-resize { cursor: w-resize; }
body.not-dragging .frame-box-handle.nw-resize { cursor: nw-resize; }
body.not-dragging .frame-box-handle.ne-resize { cursor: ne-resize; }
body.not-dragging .frame-box-handle.sw-resize { cursor: sw-resize; }
body.not-dragging .frame-box-handle.se-resize { cursor: se-resize; }

.frame-editor-main-frame .focused-frame-box {
  background-color: rgba(0,0,0,0.3);
}

.frame-editor-popup-container
{
  position: absolute;
  right: 0;
}
.frame-editor-popup
{
  width: 240px;
  height: 240px;
}
.frame-editor-popup-box
{
  position: absolute;
  overflow: hidden;
  width: 120px;
  height: 120px;
  background-color: #000;
}
.frame-editor-popup-div
{
  position: relative;
}
.frame-editor-nw { left: 0; top: 0; }
.frame-editor-ne { right: 0; top: 0; }
.frame-editor-sw { left: 0; bottom: 0; }
.frame-editor-se { right: 0; bottom: 0; }

.image-navigator
{
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.image-navigator-box
{
  border: 1px solid #000;
}

.navigator-cursor
{
  border: 2px solid #0FF;
}

#post-content A.disabled {
  color: #555;
}

.avatar-crop {
	float: left;
	margin-left: 1em;
}

.crop-preview-frame-inner {
        padding: 5px;
}

.avatar-submit {
	margin-left: auto;
	margin-right: auto;
	width: 6em;
}

#crop-preview-box {
	z-index: 30;
	margin-top: 5px;
	position: fixed;
}

.crop-preview-frame {
	width: 110px;
	height: 110px;
	background-color: #333;
}

.comment-avatar-container
{
	margin-top: .5em;
	margin-left: .5em;
}

.forum-avatar-container
{
	margin-top: .5em;
	margin-left: .5em;
}

.avatar
{

/*	opacity: 0.5;
	filter:alpha(opacity=50); */
}

.avatar-container:hover .avatar
{
/*	opacity: 1;
	filter:alpha(opacity=100); */
}

.imgCrop_wrap {
	/* width: 500px;   @done_in_js */
	/* height: 375px;  @done_in_js */
	position: relative;
	cursor: crosshair;
}

/* an extra classname is applied for Opera < 9.0 to fix it's lack of opacity support */
.imgCrop_wrap.opera8 .imgCrop_overlay,
.imgCrop_wrap.opera8 .imgCrop_clickArea {
	background-color: transparent;
}

/* fix for IE displaying all boxes at line-height by default, although they are still 1 pixel high until we combine them with the pointless span */
.imgCrop_wrap,
.imgCrop_wrap * {
	font-size: 0;
}

.imgCrop_overlay {
	background-color: #000;
	opacity: 0.5;
	filter:alpha(opacity=50);
	position: absolute;
	width: 100%;
	height: 100%;
}

.imgCrop_selArea {
	position: absolute;
	/* @done_in_js
	top: 20px;
	left: 20px;
	width: 200px;
	height: 200px;
	background: transparent url(castle.jpg) no-repeat  -210px -110px;
	*/
	cursor: move;
	z-index: 2;
}

/* clickArea is all a fix for IE 5.5 & 6 to allow the user to click on the given area */
.imgCrop_clickArea {
	width: 100%;
	height: 100%;
	background-color: #FFF;
	opacity: 0.01;
	filter:alpha(opacity=01);
}

.imgCrop_marqueeHoriz {
	position: absolute;
	width: 100%;
	height: 1px;
	background: transparent url(/marqueeHoriz.gif) repeat-x 0 0;
	z-index: 3;
}

.imgCrop_marqueeVert {
	position: absolute;
	height: 100%;
	width: 1px;
	background: transparent url(/marqueeVert.gif) repeat-y 0 0;
	z-index: 3;
}

/*
 *  FIX MARCHING ANTS IN IE
 *	As IE <6 tries to load background images we can uncomment the follwoing hack
 *  to remove that issue, not as pretty - but is anything in IE?
 *  And yes I do know that 'filter' is evil, but it will make it look semi decent in IE
 *
* html .imgCrop_marqueeHoriz,
* html .imgCrop_marqueeVert {
	background: transparent;
	filter: Invert;
}
* html .imgCrop_marqueeNorth { border-top: 1px dashed #000; }
* html .imgCrop_marqueeEast  { border-right: 1px dashed #000; }
* html .imgCrop_marqueeSouth { border-bottom: 1px dashed #000; }
* html .imgCrop_marqueeWest  { border-left: 1px dashed #000; }
*/

.imgCrop_marqueeNorth { top: 0; left: 0; }
.imgCrop_marqueeEast  { top: 0; right: 0; }
.imgCrop_marqueeSouth { bottom: 0px; left: 0; }
.imgCrop_marqueeWest  { top: 0; left: 0; }


.imgCrop_handle {
	position: absolute;
	border: 1px solid #333;
	width: 6px;
	height: 6px;
	background: #FFF;
	opacity: 0.5;
	filter:alpha(opacity=50);
	z-index: 4;
}

/* fix IE 5 box model */
* html .imgCrop_handle {
	width: 8px;
	height: 8px;
	wid\th: 6px;
	hei\ght: 6px;
}

.imgCrop_handleN {
	top: -3px;
	left: 0;
	/* margin-left: 49%;    @done_in_js */
	cursor: n-resize;
}

.imgCrop_handleNE {
	top: -3px;
	right: -3px;
	cursor: ne-resize;
}

.imgCrop_handleE {
	top: 0;
	right: -3px;
	/* margin-top: 49%;    @done_in_js */
	cursor: e-resize;
}

.imgCrop_handleSE {
	right: -3px;
	bottom: -3px;
	cursor: se-resize;
}

.imgCrop_handleS {
	right: 0;
	bottom: -3px;
	/* margin-right: 49%; @done_in_js */
	cursor: s-resize;
}

.imgCrop_handleSW {
	left: -3px;
	bottom: -3px;
	cursor: sw-resize;
}

.imgCrop_handleW {
	top: 0;
	left: -3px;
	/* margin-top: 49%;  @done_in_js */
	cursor: w-resize;
}

.imgCrop_handleNW {
	top: -3px;
	left: -3px;
	cursor: nw-resize;
}

/**
 * Create an area to click & drag around on as the default browser behaviour is to let you drag the image
 */
.imgCrop_dragArea {
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
}

.imgCrop_previewWrap {
	/* width: 200px;  @done_in_js */
	/* height: 200px; @done_in_js */
	overflow: hidden;
	position: relative;
}

.imgCrop_previewWrap img {
	position: absolute;
}


#login-background {
	z-index: 500;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
        background: image-url("login-background.png") repeat scroll center center;
}

#login-container {
	z-index: 500;
	width: 100%;
	height: 100%;
	position: fixed;
	display: table;
	left: 0;
	top: 0;
}

#login-container-inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 100%;
}

#login-container-with-tabs {
	margin-left: auto;
	margin-right: auto;
	max-width: 40em;
	min-width: 30em;
	width: 50%;
}

#login {
	margin-left: auto;
	margin-right: auto;
	background: #111;
	border: 1px solid #111;

	height: 18em;
}

ul.login-tabs {
	padding-left: 1.0em;
	left: 0;
	text-align: left;
	height: 1.4em; /* match with ul.login-tabs li a height */
}

ul.login-tabs li {
	display: block;
	float: left;
}

ul.login-tabs li > a {
	display: block;
	height: 1.4em;
	background: #111;
	padding: 2px 6px 0px 6px;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #444;
	font-weight: bold;
	color: white;
}

ul.login-tabs .selected > a {
	background: #111;
	color: white;
	border-color: #eee;
}

ul.login-tabs li > a:hover {
  background: rgb(60, 60, 220);
  color: white;
}

#login-popup-submit {
  padding: 2px 6px;
  border: 1px solid #EAEAEA;
  margin: 10px;
}

#login-popup-submit:hover {
  background: rgb(60, 60, 220);
  color: white;
}

#login-popup-notices {
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
}

.tab-header-text
{
	text-align: center;
	padding: 1em;
	padding-bottom: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;	
}

/* Inlines that immediately follow other inlines should stay on the same row.  Text
 * immediately following an inline should flow around it.  Any other inlines should
 * clear left, so if we have "inline1<br>inline2", the second inline starts on a new
 * line, instead of flowing to the right of inline1 offset downward by the <br>. */
.inline-image > .inline-thumb
{
	float: left;
	clear: left;
}

P,.inline-image + .inline-image > .inline-thumb
{
	clear: none;
}

/* A new <p> clears the text away from any inline that it's flowing around. */
.inline-image + p
{
	clear: left;
}

/* The forums don't format two consecutive newlines into a <p>, so treat two consecutive
 * newlines as a <p>. */
.inline-image + br + br
{
	clear: left;
}

.inline-image > .inline-thumb
{
	cursor: pointer;
}

.inline-image > .inline-thumb img /* margin for normal thumbs, but not in inline/edit */
{
	margin: 0.5em;
}

.inline-image .expanded-image .main-inline-image > img
{
	border: 2px solid #000;
}

.inline-image .expanded-image-ui > .expanded-image
{
	clear: both;
}

.inline-image .expanded-image-ui
{
	padding: 0.75em 0 0.25em 0;
	clear: both;
}

.inline-image .expanded-image-ui .select-image
{
	margin: 1px 3px;
	padding: 2px 6px;
	font-weight: normal;
	border: 1px solid #EAEAEA;
	display: inline-block;
}

.inline-image .expanded-image-ui .select-image:hover
{
	background: rgb(40, 40, 180);
	color: white;
}
.inline-image .expanded-image-ui .select-image:focus
{
	outline: none;
}

.inline-image .expanded-image-ui .select-image.selected-image-tab
{
	background: rgb(60, 60, 220);
	color: white;
}

.inline-image .expanded-image-ui .edit-link
{
	margin-left: 0.5em;
}

.batch-buttons form
{
	float: left;
}
#hosting-referral
{
  position: absolute;
  width: 25em;
  margin-left: -12.5em;
  left: 50%;

  padding: 0.5em;
  font-size: 150%;
  text-align: center;
  background-color: #008;

  -webkit-transition: top 0.2s ease-out;
  top: -8em;
}

#hosting-referral.shown
{
  top: 1em;
}

table#history {
  white-space: nowrap;
}

table#history td.change {
  width: 100%;
  white-space: normal;
}

table .center {
  text-align: center;
}

table.nowrap {
  white-space: nowrap;
}

table td.wrap {
  white-space: normal;
}

table td.full {
  width: 100%;
}
div#news-ticker {
  padding: 5px;
  background: #222;
  border-bottom: 2px solid #666;
  overflow: hidden;
  margin: -1em -3em 1em;
  position: relative;
}

div#news-ticker ul {
  float: left;
  margin: 0;
  padding: 0;
}

div#news-ticker li {
  list-style-type: none;
  float: left;
  margin: 0 2em 0 0;
  padding: 0;
}

div#news-ticker .close-link {
  float: right;
}
