div#main-menu {
  display: block;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
}
div#main-menu > ul {
  float: left;
  list-style: none;
}
div#main-menu ul li {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
}
div#main-menu > ul > li > a {
  display: block;
  padding: 3px 10px;
}
div#main-menu .search-box {
  display: none;
  list-style: none;
  position: absolute;
  background: black;
  border: 1px solid #666;
  padding: 5px;
}
div#main-menu ul li ul.submenu {
  z-index: 1000;
  position: absolute;
  list-style: none;
  float: none;
  left: -9999px;
  background: black;
  border: 1px solid #666;
  margin: 0;
  opacity: 0;
  transition: opacity 0.5s, left 0s;
  -o-transition: opacity 0.5s, left 0s;
  -webkit-transition: opacity 0.5s, left 0s;
  -ms-transition: opacity 0.5s, left 0s;
  -moz-transition: opacity 0.5s, left 0s;
}
div#main-menu > ul > li:hover > a {
  background-color: #fff;
  color: #000;
}
div#main-menu ul li:hover ul.submenu {
  left: 0;
  opacity: 1;
  transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
}
div#main-menu ul li ul li {
  float: none;
  margin: 0;
  padding: 0;
}
div#main-menu ul li ul.submenu li:hover {
  background: white;
}
div#main-menu ul li ul.submenu li a {
  display: block;
  padding: 2px;
  white-space: nowrap;
}
div#main-menu ul li ul.submenu li:hover a {
  color: black;
}
div#main-menu .separator {
  display: block;
  width: 100%;
  background: #aaa;
  height: 1px;
  margin: 1px 0px;
  /* For IE7: */
  overflow: hidden;
}
div#main-menu a#forum-link.forum-update {
  font-weight: bold;
}
div#main-menu .forum-items-start {
  display: none;
}
