<div id="static-more">
  <h2><%= link_to CONFIG['app_name'], '/', :id => "site-link" %></h2>
  <h5>You have been banned: <%= @ban.reason %></h5>
  
  <% if @ban.expires_at then %>
    <p>This will expire in <%= time_ago_in_words(@ban.expires_at) %>.</p>
  <% else %>
    <p>This ban is permanent.</p>
  <% end %>
</div>
