<div id="news-ticker" style="display: none" data-date="20130822">
  <ul>
    <li>Moebooru is now on <a href="https://github.com/moebooru/moebooru">GitHub</a>.</li>
  </ul>

  <a href="#" class="close-link"><%= t('.close') %></a>
</div>
