<div id="news-ticker" style="display: none">
  <ul>
    <li>We're closing down public access at the end of the year</li>
  </ul>

  <a href="#" id="close-news-ticker-link"><%= t('.close') %></a>
</div>
