<div id="news-ticker" style="display: none">
  <ul>
    <li>We're testing new mobile version of the site check it out <%= link_to 'here', 'https://m.yande.re/' %> (NSFW of course!).</li>
  </ul>

  <a href="#" id="close-news-ticker-link"><%=t :news_ticker_close %></a>
</div>
