<div id="news-ticker" style="display: none">
  <ul>
    <li>親友のサークル、「今朝の恋話」はコミケ84に当選しました。スペースは一日目　「西　る-11b」で、「はがない」の四コマを出します。ぜひお立ち寄りください！どうぞよろしくお願いします！</li>
  </ul>

  <a href="#" id="close-news-ticker-link"><%= t('.close') %></a>
</div>
