<div id="news-ticker" style="display: none">
  <ul>
    <li>Moebooru is now on <a href="https://github.com/moebooru/moebooru">GitHub</a>.</li>
  </ul>

  <a href="#" id="close-news-ticker-link"><%= t('.close') %></a>
</div>
