<div id="news-ticker" style="display: none">
  <ul>
    <li>Feel like donating? We're accepting Bitcoin now! Our address: 1EXAMgnZ1mjdJHNYPrRudNv8U3pWg7GwjF</li>
  </ul>

  <a href="#" id="close-news-ticker-link"><%=t :news_ticker_close %></a>
</div>
